<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hangu.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SocketReaderLog" android:label="@string/activity_socket_reader_log_label"/>
        <activity android:name=".ServerAppActivity" android:label="@string/activity_server_app_label"/>
        <activity android:name=".WebAppActivity" android:label="@string/activity_web_app_label"/>
        <activity android:name=".PersistWebAppActivity" android:label="@string/activity_persist_web_app_label"/>
        <activity android:name=".PersistHanguSocketActivity" android:label="@string/activity_persist_hangu_socket_label"/>
        <activity android:name=".PersistServerAppActivity" android:label="@string/activity_persist_server_app_label"/>
        <activity android:name=".ListHanguSocketsActivity" android:label="@string/activity_list_hangu_socket_label"/>
        <activity android:name=".ListWebAppsActivity" android:label="@string/activity_list_web_app_label"/>
        <activity android:name=".ListServerAppsActivity" android:label="@string/activity_list_server_app_label"/>
        <activity android:name=".HanguSocketActivity" android:label="@string/activity_hangu_socket_label"/>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.socket.ReaderLog" />
        <service android:name=".service.socket.ExecutorScript" />
        <service android:name=".service.HttpConnector" />
        <service
            android:name=".JobSchedulerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.WebAppCheck"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.ServerAppCheck"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>